In [91]:
import pandas as pd
import numpy as np

In [92]:
df = pd.read_csv("../Data/data.csv")

In [93]:
df.head()

,id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [94]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words="english")

In [95]:
df["title"] = df["title"].apply(lambda x: x.lower())
df["tags"] = df["tags"].apply(lambda x: x.lower())

In [103]:
vectors = cv.fit_transform(df['tags']).toarray()

In [104]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(5000,))

In [105]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      shape=(5000,), dtype=object)

In [106]:
from sklearn.metrics.pairwise import cosine_similarity

In [107]:
similarity = cosine_similarity(vectors)

In [108]:
similarity[0]

array([1.        , 0.08838835, 0.05986843, ..., 0.023338  , 0.02380952,
       0.        ], shape=(4806,))

In [129]:
sorted(list(enumerate(similarity[1360])), reverse=True, key= lambda x: x[1])[1:6]

[(1361, np.float64(0.9411239481143201)),
 (210, np.float64(0.4387267976856653)),
 (119, np.float64(0.3388154635894693)),
 (428, np.float64(0.3296158620900294)),
 (4529, np.float64(0.327983459555241))]

In [146]:
def recommend(movie):
    movie_index = df[df["title"] == movie].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)), reverse=True, key= lambda x: x[1])[1:6]

    for i in movie_list:
        print(df.iloc[i[0]].title)

In [147]:
recommend("superman")

superman returns
superman ii
superman iii
iron man 2
ant-man

In [148]:
import pickle

In [149]:
pickle.dump(df.to_dict(), open('../Models/movie_dict.pkl', 'wb'))
pickle.dump(similarity, open('../Models/similarity.pkl', 'wb'))